button {
    margin-right: 8px;
    background-color: rgba(189, 195, 209, 0.99);
  }
  #basic-addon1{
    color:  rgba(94,113,175,255);;
    border: solid 2px rgba(94, 113, 175, 255);
  }
  #poll{
    background-color: rgba(94, 113, 175, 255);
    color: white;
    border: 1px solid white;
    width: 150px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }
  .form-check-input:checked {
    background-color: rgba(94, 113, 175, 255);
    border-color: rgba(94, 113, 175, 255);
  }
  .customcss{
    background-color: transparent;
    border: solid 2px rgba(94, 113, 175, 255);
  }
  textarea{
    max-height: 80px;
    min-height: 50px;
  }
  .backgroundlow {
    background-color: rgba(159, 0, 0, 0.603);
  }
  
  .backgroundmedium {
    background-color: rgba(189, 195, 209, 0.99);
  }
  
  .backgroundhigh {
    background-color: rgba(94, 113, 175, 255);
  }
  .red

  /* CSS in your component's styles file (styles.css or styles.scss) */

/* Styling for the button */
.border-0 {
  border: none;
}

.p-2 {
  padding: 0.5rem;
}

/* Default styles for the icons */
.material-symbols-outlined {
  /* Define your default icon styles here */
  font-size: 1.2rem; /* Change the font size of the icons */
  transition: color 0.3s ease; /* Smooth transition for icon color change */
}

/* Styles for the confirm icon when button is clicked */
.confirm-icon {
  color: green; /* Change icon color to green when clicked */
  transform: scale(1.2); /* Increase icon size when clicked */
  /* Add any additional styles for the confirm icon */
}

/* Styles for the check icon when button is not clicked */
.check-icon {
  color: blue; /* Change icon color to blue when not clicked */
  /* Add any additional styles for the check icon */
}

