
.p-editor-container .p-editor-toolbar {
    background:rgba(189, 195, 209, 0.99) !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
input[type='radio']{
    margin-top: 10px;
    width: 20px;
    height:20px;
   
}
.form-check-input:checked {
    background-color:  rgba(189, 195, 209, 0.99);
    border-color: rgba(189, 195, 209, 0.99);
    border: 1px solid rgb(5 14 22)
}
.element-to-change {
    background-color: rgb(252, 252, 252);
    transition: background-color 0.3s;
    
  }

  .card {
    /* Other card styles go here */
    box-shadow: 0px 2px 6px rgba(189, 195, 209, 0.99); /* Adjust the values as needed */
  }
  /* Background color for selected card */
  .selected-card {
    background-color: rgba(94,113,175,255) !important;
    color: white; /* Change to the desired background color */
  }
  #Post{
    background-color: rgba(94, 113, 175, 255);
    color: white;
    border: 3px solid white;
    width: 150px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }
  #title{
    font-size: 150% ;
    font-weight:500;
    color: rgba(94, 113, 175, 255);;
  }
  .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    background-color: white;
    display: flex;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    
  }
  .form-control:focus {
    border-color: 1px rgba(94, 113, 175, 255);;
    box-shadow: none;
    border: none;
}
.custom::placeholder{
    color: rgba(94, 113, 175, 255);;
}
  