<p-toast>x</p-toast>
<div class="row align-items-center " style="height: 80vh;">

  <div class="col-4"></div>
  <div class="col-4">
      <div class="card p-4" style="background-color: var(--DBlue); color: white;">
          <div class="card-body">
              <h2 class="card-title d-flex align-item-center justify-content-center">Make New Password</h2>
              <div >
                  <label for="password">Password:</label>
                  <input type="password" class="form-control mb-4" [(ngModel)]="password" id="password" placeholder="New Password" required>
                  <label for="text" >Confirm Password:</label>
                  <input type="password" class="form-control mb-4" [(ngModel)]="confirmpassword" placeholder="Confirm New Password" id="confirmPassword" required>
                  <div class="d-flex align-item-center justify-content-center">
                    <button type="button" class="btn btn-light "(click)="onSubmit()">Save</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-4"></div>
</div>
