<div *ngIf="isformopen" class="col-md-12 d-flex justify-content-center align-item-center"
    style="background-color:var(--LBlue)">
    <div class="my-3">
        <div class="d-flex justify-content-between">
            <h2 class="d-flex justify-content-center align-item-center my-2" style="color:   var(--DBlue);">Add New
                Address</h2> 
            <button type="button" class="btn-close my-auto" aria-label="Close" (click)="emitEvent()"></button>
        </div>
        <hr>
        <form>
           
                <h4 style=" color:  var(--DBlue)!important;" class="m-0 p-0" for="name">Pincode</h4>  
                <div class="inputGroup" style="margin-top: 0;">
                    <div class="material-symbols-outlined my-auto p-2">
                        pin_drop
                    </div>
                    <input style="width: 230px;  color: var(--DBlue);" pattern="[0-9]{6}" maxlength="6"
                        (input)="fetchPostalCodeData(postalcode.value)" #postalcode required name="postalcode"
                        [(ngModel)]="childValue.pinccode" id="postalcode">
                     
                    <div class="mx-1 my-2">
                        <div class="jelly-triangle" *ngIf="responseStatus === 'loading'">
                            <div class="jelly-triangle__dot"></div>
                            <div class="jelly-triangle__traveler"></div>
                        </div>
                        <div *ngIf="responseStatus === 'success'">
                            <span class="material-symbols-outlined" style="color: rgb(7, 108, 24);">
                                check_circle
                            </span>
                        </div>
                        <div *ngIf="responseStatus === 'error'">
                            <span class="material-symbols-outlined" style="color: rgb(187, 53, 53);">
                                dangerous
                            </span>
                        </div>
                        <svg width="0" height="0" class="jelly-maker">
                            <defs>
                                <filter id="uib-jelly-triangle-ooze">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="7.3" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix"
                                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="ooze" />
                                    <feBlend in="SourceGraphic" in2="ooze" />
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            
            <h4 style=" color:  var(--DBlue)!important;" class="m-0 p-0" for="name">Area</h4>
            <div class="d-flex justify-content-center  inputGroup" style="margin-top: 0;">
                <div class="material-symbols-outlined p-2">
                    near_me
                </div>
                <select class="form-select" style="max-width: 250px; margin-bottom: 0px;" id="Select_Postal"
                    name="select"  [(ngModel)]="childValue.postalcode" [disabled]="responseStatus !== 'success'">
                    <option [value]="childValue.postalcode" [disabled]="childValue.postalcode==='Select One'">{{ childValue.postalcode }}</option>
                    <option *ngFor="let item of PostOffice">{{item}}</option>
                </select>
            </div>
            
            <div class="d-flex justify-content-center flex-column ">
                <h4 style=" color:  var(--DBlue)!important;" class="m-0 p-0" for="name">Locality/colony</h4>
                <div class="inputGroup m-0 p-0">
                    <div class="material-symbols-outlined mt-auto p-2">
                        home_pin
                    </div>
                    <input name="" id="autocomplete" type="text" matInput  
                        [matAutocomplete]="auto"value={{childValue.fullAddress}}  style="width: 250px; color: var(--DBlue);">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                            (click)="onSuggestionClick(option.name)"
                            [ngClass]="{'selected-option': option === selectedOption}">
                            {{ option.name }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="form-check d-flex align-item-center justify-content-center mt-3" style="padding: 0;" >
                    <input *ngIf="!childValue.isPrimary" class="form-check-input mx-1 mb-1" type="checkbox" id="exampleCheckbox"
                        [(ngModel)]="isChecked" name="exampleCheckbox">
                    <label *ngIf="!childValue.isPrimary" class="form-check-label" for="exampleCheckbox" style="color: var(--DBlue); margin-top: 2px;">Make this
                        Primary</label>
                        <label *ngIf="childValue.isPrimary" class="form-check-label m-1 " for="exampleCheckbox" style="color:   var(--DBlue);">This is your
                            Primary</label>
                </div>
            </div>
            <div class="justify-content-center align-items-center d-flex my-2">
                <button class="btn btn-outline buttonReg" style="width: 250px; border-radius: 25px; margin-left: 10px;"
                    type="submit" (click)="onSubmit()">Save</button>
            </div>
            <div class="justify-content-center align-items-center d-flex my-2">
                <button class="btn btn-outline buttonReg" style="width: 250px; border-radius: 25px; margin-left: 10px;"
                    type="button" (click)="UpdateAddreess()">Update</button>
            </div>
        </form>
    </div>
</div>