<nav class="navbar navbar-expand-lg  mb-3"
  style=" background-color: rgba(94, 113, 175, 255); padding-left: 8%; padding-right: 8%;" *ngIf="shouldShowNavbar()">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">AssuredInfo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="homepage">Home</a>
        </li>
      </ul>
      <div class="d-flex justify-content-center" style=" width: 100%;">
        <form class="d-flex align-items-center rounded-pill change" style="width: 80%; min-width: 250px; border: 1px solid white;">
          <button class="material-symbols-outlined border-0"
            style="background-color: transparent; color: rgb(255, 255, 255);">
            search
          </button>
          <div class="form-group" style="width: 80%;">
            <input type="search" id="gsearch" name="gsearch" class="search" placeholder="Search here"
              class="form-control border-0 me-3">
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-around gap-3 " style="width: fit-content;">
        <div class="d-flex align-items-center" routerLink="newpoll">
          <a class="material-symbols-outlined ">
            Poll
          </a>
          <a href="#">
            Poll
          </a>
        </div>
        <div class="d-flex align-items-center">
          <a routerLink="newpost" class="material-symbols-outlined ">
            library_add
          </a>
          <a routerLink="newpost">
            Add_Post
          </a>
        </div>

        <div class="dropdown m-auto pr-4 ">

          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
              <div class="dropdown-item d-flex gap-2" routerLink="profile">
                <a class="material-symbols-outlined " style="color: white;">
                  account_circle
                </a>
                <a class="my-auto text-light">
                  Account
                </a>
              </div>

            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <div class="dropdown-item d-flex gap-2">
                <a class="material-symbols-outlined " style="color: white;">
                  settings
                </a>
                <a class="my-auto text-light">
                  Settings
                </a>
              </div>

            </li>
            <li>
              <div class="dropdown-item d-flex gap-2"  (click)="this.auth.logout()">
                <a class="material-symbols-outlined " style="color: white;">
                  logout
                </a>
                <a class="my-auto text-light" href="#">Sign out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
<app-loader *ngIf="isLoading | async"></app-loader>
<router-outlet></router-outlet>