input {
  background: transparent;
  color: white;
}
input:focus {
    background: transparent;
    color: white;
}
    input::placeholder {
        background: transparent;
        color: white;
     }
        a{
            text-decoration: none;
            color: white;
             }
             p{
               margin: 0;
                 }

               
                .icon-button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    color: #333333;
                    background: #dddddd;
                    border: none;
                    outline: none;
                    border-radius: 50%;
                  }
                  
                  .icon-button:hover {
                    cursor: pointer;
                  }
                  
                  .icon-button:active {
                    background: #cccccc;
                  }
                  
                  .icon-button__badge {
                    position: absolute;
                    top: 11px;
                    right: 7px;
                    width: 16px;
                    height: 16px;
                    background: red;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: rgb(207, 212, 45);
                    background: rgb(90, 93, 16);
                  }
                 