input {
background: transparent;
color: white;
}
input:focus {
    background: transparent;
    color: white;
}
    input::placeholder {
        background: transparent;
        color: white;
     }
        a{
            text-decoration: none;
            color: white;
             }
             p{
               margin: 0;
                 }