 
  .container{
    height: 100vh; 
   }
   
   a{
    color: black;
    
   }
   
   .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    pointer-events: none; 
    background-color: rgba(0, 30, 128, 0.63);
    background-image: url('../../../assets/location-icon-navigation-line-style-free-free-vector-removebg-preview.png');
    background-repeat: repeat;
    background-size: 300px; /* Set the height to 200 pixels */
}

   
 
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 400px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(44, 35, 35);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-80%) scale(.9);
    margin: 0em;
 
    padding: 0.4em;
    color: rgb(0, 0, 0);
    
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }
    
   
   .box .content {
    position: relative;
    width: 390px;
    height:  fit-content;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .box .content h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
   }