.nav-link{
color:rgb(15, 36, 115)
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #eee;
    background-color: var(--DBlue);
    border-color: whitesmoke
}

.list-group-item {
    background-color: rgba(189, 195, 209, 0.99);
    border: none;
    color: rgb(0 14 122);
}
 
li{
  list-style: none;
}

  .button-outline1 {
    background-color: var(--DBlue);
    color: white;
    border: 1px solid white;
    width: 150px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-outline2 {
  background-color: transparent;
  color: rgb(0 14 122);
  border: 1px solid var(--DBlue);
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.scrollable-component {
  height: 100vh; /* Adjust the height as needed */
  overflow-y:auto; 
  overflow-x: hidden;/* Enable vertical scrolling when content exceeds the height */
  /* Add padding to the scrollable component if necessary */
  /* Other styles for the scrollable component */
}
