<section class="py-5">
    <div class="container-fluid">
   <div class="row">
            <div class="col-lg-12">
                <blockquote class="blockquote blockquote-custom bg-white p-4 shadow rounded">
                    <img class="blockquote-custom-icon bg-info shadow-sm" 
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy_emMD6gBsYsUOoMW9CmBueMuLReA6qitTA&usqp=CAU" alt="">
                    <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#" class="text-info">@consequat</a>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
